<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2023-2024 Nameless-AOSP
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="android.uid.system"
    package="org.nameless.systemtool"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_SHORTCUTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <protected-broadcast android:name="org.nameless.systemtool.intent.IRIS_GET_COMMAND" />
    <protected-broadcast android:name="org.nameless.systemtool.intent.IRIS_SET_COMMAND" />
    <protected-broadcast android:name="org.nameless.systemtool.intent.ONLINE_CONFIG_DEBUG_MODE" />

    <application
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true">

        <receiver
            android:name=".BootCompletedReceiver"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".iris.IrisService">
        </service>

        <service
            android:name=".onlineconfig.OnlineConfigService">
        </service>

        <activity
            android:name=".windowmode.AllAppsPickerActivity"
            android:exported="true"
            android:label="@string/all_apps_picker_title"
            android:theme="@android:style/Theme.DeviceDefault.Settings">
        </activity>

        <activity
            android:name=".windowmode.ManageAppsActivity"
            android:exported="true"
            android:label="@string/manage_apps_title"
            android:theme="@android:style/Theme.DeviceDefault.Settings">
        </activity>

        <service
            android:name=".windowmode.WmGestureService">
        </service>
    </application>
</manifest>
